
.profile{
  display: grid;
  grid-template-rows: max-content max-content 1fr;
  gap: 15px;
  width: 100%;
  img{
    border-radius: 100px;
    object-fit: cover;
  }
  &_container{
    border-top: 2px solid black;
    padding-top: 10px;
    width: 100%;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

}