// *** DECLARATIVE PART ***
@import "../../../style";

$footerHeight: 150px;
.footer{

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  //width: 100%;
  min-height: $footerHeight;
  background-color: #492c01;
  padding: 20px 200px 60px;
  margin: auto;
  color: #fff6e6;
  align-items: center;

  //justify-content: space-around;
  &_column{
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    //margin: auto;
    &_title{
      text-decoration: underline;
      font-size: 24px;

    }
    &_elem{
      a{
        text-decoration: none;
        font-size: 18px;
      }
      transition-duration: .5s;
        &:hover{
          color: yellow;

        }
    }
  }

}