.editQuiz{

  height: 100%;
  width: 100%;
  background-color: #fdffdf;
  &_container{
    display: grid;
    grid-template-columns: 25% 75% ;

  }
  &_questions{
    box-sizing: border-box;

    min-height: 70vh;
    box-shadow: 3px 0px 3px 2px rgba(166, 166, 166, 0.45);
    //overflow-y: scroll;
    padding: 20px;
    width: 100%;
    display: flex;
    background:#ffffff;
    //height: 100%;
    flex-direction: column;
    &_container{
      box-sizing: border-box;

      margin: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &_params{
    &_container{
      box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.44);
      box-sizing: border-box;

      //justify-items: center;
      width: 100%;
      max-height: max-content;
      &_inputs{
        align-items: center;
        height: max-content;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }


    display: flex;
    flex-direction: column;
    width: max-content;
    gap: 20px;
    padding: 25px;

  }
}